<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method ="post" action="/">
  <button type="submit" name="submit_a" value="submit_a"> Submit_a </button>
  <button type="submit" name="submit_b" value="submit_b"> Submit_b </button>
</form>
  <h3>Our Flask Buttons</h3>
      <form method="post" action="/">
          <input type="submit" value="VALUE1" name="action1">
          <input type="submit" value="VALUE2" name="action2">
          <input type="radio" name="options" id="option1" value="option1"> Option1 </input><br>
          <input type="radio" name="options" id="option2" value="option2"> Option2 </input><br>
          <input type="radio" name="options" id="option3" value="option3"> Option3 </input><br>
        <p><input type=submit value=Next></p>
      </form>
</form>
</body>
</html>