<!DOCTYPE html>
<!-- Code By Javier Luengo ( https://fjavierluengo.es )-->
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Puntuación</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">

</head>
<body>

  <h1>¿Qué nota nos pones?</h1>
  <form id="form" method="post" action="/" onsubmit="myFunction()">
    <fieldset class="stars">
      <input type="radio" name="stars" id="star1" ontouchstart="ontouchstart" value="5stars"/>
      <label class="fa fa-star" for="star1"></label>
      <input type="radio" name="stars" id="star2" ontouchstart="ontouchstart" value="4stars"/>
      <label class="fa fa-star" for="star2"></label>
      <input type="radio" name="stars" id="star3" ontouchstart="ontouchstart" value="3stars"/>
      <label class="fa fa-star" for="star3"></label>
      <input type="radio" name="stars" id="star4" ontouchstart="ontouchstart" value="2stars"/>
      <label class="fa fa-star" for="star4"></label>
      <input type="radio" name="stars" id="star5" ontouchstart="ontouchstart" value="1stars"/>
      <label class="fa fa-star" for="star5"></label>
      <input type="radio" name="stars" id="star-reset"/>
      <label class="reset" for="star-reset">Reiniciar</label>
      <figure class="face"><i></i><i></i>
        <u>
          <div class="cover"></div>
        </u>
      </figure>
    </fieldset>
    <input class="button button1" type="submit" value="VOTAR">
  </form>


  </body>
</html>